POSTGRES_DB=salaries_db
POSTGRES_USER=salary_user
POSTGRES_PASSWORD=salary_password

SALARY_DB_URL=jdbc:postgresql://localhost:5432/salaries_db
SALARY_DB_USER=salary_user
SALARY_DB_PASSWORD=salary_password
